<div class="span5 offset1">

    <div><strong>Supervisor in course</strong></div>
    <%= will_paginate @admin_enrolls %>
    <% @admin_enrolls.each do |user_course| %>
      <% user = user_course.user %>
      <div>
      <%= link_to user.name, user %>
      <%= link_to 'Remove', admin_course_assign_supervisors_path(@course, id: user.id), method: :delete %>
      </div>
    <% end %>

    <div><strong>Add supervisor to course</strong></div>
    <%= will_paginate @admin_not_enrolls %>
      <div>
        <% @admin_not_enrolls.each do |user| %>
          <div>
            <%= link_to user.name, user %>
            <%= link_to 'Add', admin_course_assign_supervisors_path(@course.id, id: user.id), method: :create %>
          </div>
        <% end %>
      </div>
  </div>
</div>