<% provide(:title, @user.name) %>

<div class="center">
  <%= gravatar_for @user %>
  <h5><%= link_to @user.name, @user %></h5>
</div>

<table class="table table-hover">
  <thead>
    <td><strong>Learning</strong></td>
    <td><strong>Status</strong></td>
  </thead>

  <% @user.trainee_courses.each do |trainee_course| %>
    <% course = trainee_course.course %>
    <% if trainee_course.started? && trainee_course.finish? %>      
      <tr class="success">
        <td><%= link_to course.name, course %></td>
        <td>finished</td>
      </tr>
    <% elsif trainee_course.started? && !trainee_course.finish? %>
      <tr class="error">
        <td><%= link_to course.name, course %></td>
        <td>in progress</td>
      </tr>
    <% elsif trainee_course.started? %>
      <tr class="warning">
        <td><%= link_to course.name, course %></td>
        <td>started</td>
      </tr>
    <% end %>

    <% @user.user_subjects.each do |user_subject| %>
      <% subject = user_subject.subject %>
      <% if user_subject.finish? %>
        <tr class="success">
          <td><%= subject.name %></td>
          <td>finished</td>
        </tr>
      <% else %>
        <tr class="error">
          <td><%= subject.name %></td>
          <td>in progress</td>
        </tr>
      <% end %>
    <% end %>

    <% @user.user_tasks.each do |user_task| %>
      <% task = user_task.task %>
      <% if user_task.finish? %>
        <tr class="success">
          <td><%= task.name %></td>
          <td>finished</td>
        </tr>
      <% else %>
        <tr class="error">
          <td><%= task.name %></td>
          <td>in progress</td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>