<% provide(:title, "Assign Trainee") %>
<h1>Assign Trainee</h1>
<div class="span5 offset1">

  <div><strong>Trainee in course</strong></div>
  <%= will_paginate @trainee_enrolls %>
  <% @trainee_enrolls.each do |user_course| %>
    <% user = user_course.user %>
    <div>
      <%= link_to user.name, user %>
      <%= link_to 'Remove', admin_course_assign_trainees_path(@course, id: user.id), method: :delete %>
    </div>
  <% end %>

  <div><strong>Add trainee to course</strong></div>
  <%= will_paginate @trainee_not_enrolls %>
  <div>
    <% @trainee_not_enrolls.each do |user| %>
      <div>
        <%= link_to user.name, user %>
        <%= link_to 'Add', admin_course_assign_trainees_path(@course.id, id: user.id), method: :create %>
      </div>
    <% end %>
  </div>
</div>