<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>
<div class="center">
  <div class="span6 offset3 btn-group">
    <% @course.subjects.each do |subject| %>
      <% user_subject = @trainee_course.user_subjects.find_by subject_id: subject.id %>
      <% if subject == @subject %>
        <% type_button = "btn btn-large btn-primary" %>
      <% else %>
        <% type_button = "btn btn-large btn-default" %>          
      <% end %>
      <%= link_to subject.name, user_course_subject_url(current_user, @course,
        subject), class: type_button%>
    <% end %>
    <div>
      <% @subject.tasks.each do |task| %>
        <h4><input type="checkbox" disabled="disabled">  <%= task.name %></h4>
      <% end %>
      <h4><%= link_to "Back", user_course_path(current_user, @course) %>
    </div>
  </div>
</div>