<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>

<div class="center">
  <div class="btn-group">
    <% current_user.user_subjects.each do |user_subject| %>
      <% subject = user_subject.subject %>
      <% if user_subject.finish? %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-success" %>
      <% else %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <% if @trainee_course.start_at.nil? %>
    <%= form_for @course do |f| %>
      <br>
      <%= f.submit "Start", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <div>
      <br>
      <button class="btn btn-large btn-success active">
        Started
      </button>
    </div>
  <% end %>

  <div class="row">
    <div class="span6 offset3">
      <h4>Users in this Course</h4>
      <div>
        <% @course.trainee_courses.each do |trainee_course| %>
          <% user = trainee_course.user %>
          <%= link_to gravatar_for(user, size: 40), user %>
        <% end %>
      </div>

      <h4>Your activities</h4>
      <% @activities.each do |activity| %>
        <% if current_user?(activity.user) %>
          <% if activity.in_course? %>
            <div>
              <% if activity.updating && !activity.object.finish %>
                You started
                <%= @course.name %>
                at
                <%= activity.created_at.to_date %>
              <% elsif activity.object.finish %>
                You finished
                <%= @course.name %>
                at
                <%= activity.created_at.to_date %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
