<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>

<div class="center">
  <div class="btn-group">
    <% current_user.user_subjects.each do |user_subject| %>
      <% subject = user_subject.subject %>
      <% if user_subject.finish? %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-success" %>
      <% else %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <% if @user_course.start_at.nil? %>
    <%= form_for @course do |f| %>
      <br>
      <%= f.submit "Start", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <div>
      <br>
      <button class="btn btn-large btn-success active">
        Started
      </button>
    </div>
  <% end %>
</div>
