<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>

<div class="center">
  <div class="btn-group">
    <% @course.course_subjects.each do |course_subject| %>
      <% subject = course_subject.subject %>
      <% unless subject.nil? %>
      <%= link_to subject.name, "", 
        class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <div>
    <br>
    <% if @trainee_course.finish? %>
      <button class="btn btn-large btn-success">
        Finished
      </button>
    <% elsif @trainee_course.start_at %> 
      <button class="btn btn-large btn-success active">
        Started
      </button>
    <% else %>
      <button class="btn btn-large btn-primary">
        Start
      </button>
    <% end %>
  </div>

  <div class="row">
    <div class="span6 offset3">
      <h4>Users in this Course</h4>
      <div>
        <% @course.trainee_courses.each do |trainee_course| %>
          <% user = trainee_course.user %>
          <%= link_to gravatar_for(user, size: 40), user %>
        <% end %>
      </div>

      <h4>Your activities</h4>
      <% @activities.each do |activity| %>
        <% if current_user?(activity.user) && activity.in_course? %>
          <div>
            <% if activity.object.finish? %>
              You finished
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% elsif activity.updating %>
              You started
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
