<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>

<div class="center">
  <div class="btn-group">
    <% current_user.user_subjects.each do |user_subject| %>
      <% subject = user_subject.subject %>
      <% if user_subject.finish? %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-success" %>
      <% else %>
        <%= link_to subject.name, "", 
          class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <% if @trainee_course.start_at.nil? %>
    <%= form_for @course do |f| %>
      <br>
      <%= f.submit "Start", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <div>
      <br>
      <button class="btn btn-large btn-success active">
        Started
      </button>
    </div>
  <% end %>

  <div class="row">
    <div class="span6 offset3">
      <h4>Users in this Course</h4>
      <div>
        <% @course.trainee_courses.each do |trainee_course| %>
          <% user = trainee_course.user %>
          <%= link_to gravatar_for(user, size: 40), user %>
        <% end %>
      </div>

      <h4>Activities</h4>
      <div>
        <% @trainee_course.versions.each do |version| %>
          <% if version.event == "create" %>
            You started
            <%= @trainee_course.course.name %>
            at
            <%= version.created_at.to_date %>
          <% elsif version.event == "update" %>
            You finished
            <%= @trainee_course.course.name %>
            at
            <%= version.created_at.to_date %>
          <% end %>
        <% end %>
      </div>

      <% current_user.user_subjects.each do |user_subject| %>
        <div class="courses">
          <% user_subject.versions.each do |version| %>
            <% if version.event == "update" %>
              You finished
              <%= user_subject.subject.name %>
              at
              <%= version.created_at.to_date %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% current_user.user_tasks.each do |user_task| %>
        <div class="courses">
          <% user_task.versions.each do |version| %>
            <% if version.event == "update" %>
              You finished
              <%= user_task.task.name %>
              at
              <%= version.created_at.to_date %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
