<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>

<div class="center">
  <div class="span6 offset3 btn-group">
    <% @course.subjects.each do |subject| %>
      <% user_subject = @trainee_course.user_subjects.find_by subject_id: subject.id %>
      <% if @trainee_course.started? %>
        <% if user_subject.finish? %>
          <% type_button = "btn btn-large btn-success active" %>
        <% elsif user_subject.started? %>
          <% type_button = "btn btn-large btn-info" %>
        <% else %>
          <% type_button = "btn btn-large btn-default" %> 
        <% end %>
      <% else %>
        <% type_button = "btn btn-large btn-default" %>
      <% end %>
      <%= link_to subject.name, edit_user_course_subject_url(current_user, @course,
        subject), class: type_button%>
    <% end %>
    <div>
      <% if @course.started? %>
        <% if @trainee_course.finish? %>
          <h4> You finished this course!</h4>
        <% elsif @trainee_course.started? %>
          <h4>You started</h4>
        <% else %>
          <%= form_for @course do |f| %>
              <h4><%= f.submit "Start Course", class: "btn btn-large btn-primary" %></h4>
          <% end %>
        <% end %>
      <% else %>
        <h4>This course not started!</h4>
      <% end %>
    </div>
  </div>  

  <div class="row">
    <div class="span6 offset3">
      <h4>Users in this Course</h4>
      <div>
        <% @course.trainee_courses.each do |trainee_course| %>
          <% user = trainee_course.user %>
          <%= link_to gravatar_for(user, size: 40), user %>
        <% end %>
      </div>

      <h4>Your activities</h4>
      <% @activities.each do |activity| %>
        <% if current_user?(activity.user) && activity.in_course? %>
          <div>
            <% if activity.object.finish? %>
              You finished
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% elsif activity.updating %>
              You started
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>