<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<div class="row">
  <div class="span6 offset3">
    <% @course_subjects.each do |course_subject| %>
      <% unless course_subject.subject.nil? %>
        <div>
          <%= link_to course_subject.subject.name, 
            admin_subject_path(course_subject.subject) %>
        </div>
      <% end %>
    <% end %>

    <%if @course.start_at.nil? %>
      <%= form_for [:admin, @course] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div>This course dosen't start, click start to start thi course</div>
        <%= f.submit "Start", class: "btn btn-large btn-primary" %>
      <% end %>
    <% else %>
      <div><h3>This course is started</h3></div>
    <% end %>

    <div><%= link_to "Trainee in Courses", edit_admin_course_assign_trainees_path(@course) %></div>
    <div><%= link_to "Supervisor in Courses", edit_admin_course_assign_supervisors_path(@course) %></div>

    <div class="center">
      <h4>Activities</h4>
      <% @course.trainee_courses.each do |trainee_course| %>
        <% user = trainee_course.user %>
        <% trainee_course.versions.each do |version| %>
          <div>
            <% if version.event == "update" %>
              <%= link_to user.name, user %>
              finished
              <%= trainee_course.course.name %>
              at
              <%= version.created_at.to_date %>
            <% else %>
              <%= link_to user.name, user %>
              started
              <%= trainee_course.course.name %>
              at
              <%= version.created_at.to_date %>
            <% end %>
          </div>
        <% end %>

        <% user.user_subjects.each do |user_subject| %>
          <% user = user_subject.user %>
          <% user_subject.versions.each do |version| %>
            <div>
              <% if version.event == "update" %>
                <%= link_to user.name, user %>
                finished
                <%= user_subject.subject.name %>
                at
                <%= version.created_at.to_date %>
              <% end %>
            </div>
          <% end %>
          
          <% user.user_tasks.each do |user_task| %>
            <% user = user_task.user %>
            <% user_task.versions.each do |version| %>
              <div>
                <% if version.event == "update" %>
                  <%= link_to user.name, user %>
                  finised
                  <%= user_task.task.name %>
                  at
                  <%= version.created_at.to_date %>
                <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

