<% provide(:title, @course.name) %>
<h1><%= @course.name %></h1>
<div class="row">
  <div class="span6 offset3">
    <% @course_subjects.each do |course_subject| %>
      <div>
        <% if @course.started? %>
          <%= link_to course_subject.subject.name, 
            edit_admin_course_course_subject_path(@course, course_subject.subject) %>
        <% else %>
          <%= link_to course_subject.subject.name, 
            admin_course_course_subject_path(@course, course_subject.subject) %>
        <% end %>
      </div>
    <% end %>

    <%if @course.started? %>
      <div><h3>This course is started</h3></div>      
    <% else %>
      <%= form_for [:admin, @course] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div>This course dosen't start, click start to start thi course</div>
        <%= f.submit "Start", class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>

    <div><%= link_to "Assigin Trainee", edit_admin_course_assign_trainees_path(@course) %></div>
    <div><%= link_to "Assign Supervisor", edit_admin_course_assign_supervisors_path(@course) %></div>
    <div class="view-hidden-trainee">Trainee in Course</div>
    <div class="trainee-in-course">
      <% @course.trainee_courses.each do |trainee_course| %>
        <div>
          <%= trainee_course.user.name %>
          <% if trainee_course.finish? %>
            finished
          <% else %>
          <%= link_to 'Accept finish',
            admin_course_trainee_course_url(@course.id, trainee_course, finish: 1), method: :patch %>
          <% end %>
        </div>
      <% end %>
    </div>

    <h5>Users Activities</h5>
    <% @activities.each do |activity| %>
      <% if activity.in_course? %>
        <% unless admin_user? activity.user %>
          <div>
            <% user = activity.user %>
            <% if activity.object.finish? %>
              <%= link_to gravatar_for(user, size: 40), user %>
              finished
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% elsif activity.object.start_at %>
              <%= link_to gravatar_for(user, size: 40), user %>
              started
              <%= @course.name %>
              at
              <%= activity.created_at.to_date %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

